*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #66bb6a;
    width: 100vw;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: head 4s ease-in-out;
}
@keyframes head {
    0%{
        transform: translateY(-100%);
    }
}
.head h1{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    background: linear-gradient(to bottom,red,orange,rgb(221, 39, 84));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'montserrat' 'Times New Roman', Times, serif;

}
.head ul li{
    display: inline-block;
    padding: 0 30px;
    font-size: 20px;
    text-transform: uppercase;
}
.head ul li a{
    text-decoration: none;
    color: royalblue;
    font-family: 'montserrat' 'Times New Roman', Times, serif;
    font-weight: 600;
    letter-spacing: 2px;
}
.container{
    display: flex;
}
.container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 55px;
    text-transform: uppercase;
    margin: 70px;
    padding: 15px;
    color: #ff5722;
}
.cricker{
    animation: cricker 2s ease-in-out;
}
.pg1 span{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: blueviolet;
}
.pg1{
    height: 100vh;
    width: 100vw;
}
.players{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.player ul li{
    color: #ff5722;
}
.player h1{
    text-transform: uppercase;
    border-bottom: 2px solid black;
    color: #ff5722;
}
#personList{
    margin: 50px;
    padding: 40px;
    font-size: 30px;
    text-transform: uppercase;
}
#personList li{
    list-style: decimal;
    color: royalblue;
}
#detailsContainer{
    display: block;
    text-align: center;
    width: 100vw;
    height: 200vh;
}
#personPhoto{
    border: 5px solid gray;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 20px;
    object-fit: fill;
}
#personName{
    text-transform: uppercase;
    font-size: 30px;
}
#personDescription{
    font-size: 20px;
    text-transform: capitalize;
}
.contact{
    width: 100vw;
    height: 100vh;
}
.contact h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #ff5722;
    text-align: center;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 0;
}
.flex{
    display: flex;
    width: 100vw;
}
.details{
    height: 40vh;
    padding: 0 120px;
    margin: 120px 0;
}
.details h3{
    text-transform: uppercase;
    color: royalblue;
    font-size: 30px;
}
.details p{
    text-transform: lowercase;
    color: purple;
    font-size: 25px;
}
.suggestion{
    margin: 120px 0;
}
.suggestion h2{
    color: royalblue;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: left;
}
.suggestion ul li{
    color:purple;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.contact h4{
    font-size: 50px;
    color: blue;
    text-align: center;
    margin: 10px 0;
}
.cricker img{
    width: 500px;
    height: 700px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .head ul li a{
        display: flex;
        /* margin: 20px; */
        /* padding: 10px; */
        font-size: 12px;
    }
    .head h1{
        font-size: 25px;
    }
    .container h1{
        font-size: 18px;
    }
    .cricker img{
        width: 300px;
        height: 450px;
    }
    .pg1{
        height: 100vh;
        width: 100vw;
    }

    .player h1 {
        font-size: 15px;
    }
    .player ul li{
        font-size: 18px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    #personList{
        margin: 0;
        padding: 0;
    }
    #personPhoto{
        border: 5px solid gray;
        border-radius: 10px;
        width: 200px;
        height: 300px;
        object-fit: cover;
        margin-right: 20px;
        object-fit: fill;
    }
    .player h1{
        position: absolute;
        top: 90%;
        left: 40%;
    }
    .contact h4{
        font-size: 20px;
        text-transform: uppercase;
    }
    .contact h1{
        font-size: 15px;
    }
    .details h3{
        font-size: 15px;
    }
    .details p{
        font-size: 18px;
    }
    .suggestion h2{
        font-size: 18px;
    }
    .suggestion ul li{
        font-size: 12px;
    }
    .suggestion{
        margin: 20px 0;
    }
    .details{
        height: 40vh;
        padding: 0 10px;
        margin: 10px 0;
    }
}